<ion-view view-title="Cadastre-se aqui!">
    <ion-content>
            <div class="list">
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">E-mail</span>
                     <input type="text" placeholder="nome@gmail.com">
                 </label>
                 <label class="item item-input item-stacked-label">
                     <span class="input-label">Senha</span>
                      <input type="password" placeholder="Senha">
                </label>
                <label class="item item-input item-stacked-label">
                     <span class="input-label">Confirmar senha</span>
                      <input type="password" placeholder="Senha">
                </label>
                </div>
                 <div class="padding">
        <a class="button button-block button-positive">
                 Cadastrar-se
            </a>
                 </div>
    </ion-content>
</ion-view>