<ion-view view-title="cadastro 2">
     <ion-content>
        <div class="list ">
        <label class="item item-input item-stacked-label">
                    <span class="input-label email">Usuario</span>
                     <input type="text" placeholder="Usuario " >
                      <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
     Sexo
    </div>
    <select>
      
      <option>Masculino</option>
      <option >Feminino</option>
      <option>Outros...</option>
    </select>
  </label>

</div>
   <span class=" input-label generos">GENEROS</span>
      <ion-list  class="padding">
                <ion-checkbox ng-model="filter.black">Ação</ion-checkbox>
                <ion-checkbox ng-model="filter.Animacao">Animação</ion-checkbox>
                <ion-checkbox ng-model="filter.Aventura">Aventura</ion-checkbox>
                <ion-checkbox ng-model="filter.Cinemacatastrofe">Cinema catástrofe</ion-checkbox>
                <ion-checkbox ng-model="filter.Comedia">Comédia</ion-checkbox>
                <ion-checkbox ng-model="filter.Comediaromantica">Comédia romântica</ion-checkbox>
                <ion-checkbox ng-model="filter.Comediadramatica">Comédia dramática</ion-checkbox>
                <ion-checkbox ng-model="filter.Comediadeacao">Comédia de ação</ion-checkbox>
                <ion-checkbox ng-model="filter.Danca">Dança</ion-checkbox>
                <ion-checkbox ng-model="filter.Documentarios">Documentários</ion-checkbox>
                <ion-checkbox ng-model="filter.Drama">Drama</ion-checkbox>
                <ion-checkbox ng-model="filter.Espionagem">Espionagem</ion-checkbox>
                <ion-checkbox ng-model="filter.Fantasia">Fantasia</ion-checkbox>
                <ion-checkbox ng-model="filter.Faroeste">Faroeste</ion-checkbox>
                <ion-checkbox ng-model="filter.Ficcaocientifica">Ficção científica</ion-checkbox>
                <ion-checkbox ng-model="filter.Guerra">Guerra</ion-checkbox>
                <ion-checkbox ng-model="filter.Musical">Musical</ion-checkbox>
                <ion-checkbox ng-model="filter.Policial">Policial</ion-checkbox>
                <ion-checkbox ng-model="filter.Suspense">Suspense</ion-checkbox>
                <ion-checkbox ng-model="filter.Terror">Terror</ion-checkbox>
 </ion-list>
     </label>
      <div class="padding">
            <button class="button button-block button-assertive"   ng-click="salvarPerfil(usuario, sexo, genero)">
               Finalizar
            </button>
      </div>


 </div>