<ion-view view-title="cadastro 2">
     <ion-content>
     
 <div class="list ">
     <div class="item  item-stacked-label item-avatar">
        <img class="" src="http://img.r7.com/images/2012/12/18/15_06_49_534_file?dimensions=800x600&no_crop=true">
     </div>
        <label class="item item-input item-stacked-label">
    <span class="input-label email">Usuario</span>
           <input type="text" placeholder="Usuario " ng-model="usuario" >
    <div class="list">
                        <!--   <div class="item item-avatar">
    <img class="flot dim" src="http://img.r7.com/images/2012/12/18/15_06_49_534_file?dimensions=800x600&no_crop=true">
         </div>-->

  <label class="item item-input item-select">
    <div class="input-label">
        Sexo
    </div>
    <select ng-model="sexo" >
      
      <option selected>Masculino</option>
      <option >Feminino</option>
      <option>Outros...</option>
    </select>
  </label>

</div>
   <span class=" input-label generos">GENEROS</span>
      <ion-list  class="padding">
          <ion-checkbox ng-model="generos.black">Ação</ion-checkbox>
          <ion-checkbox ng-model="generos.animacao">Animação</ion-checkbox>
          <ion-checkbox ng-model="generos.aventura">Aventura</ion-checkbox>
          <ion-checkbox ng-model="generos.cinemacatastrofe">Cinema catástrofe</ion-checkbox>
          <ion-checkbox ng-model="generos.comedia">Comédia</ion-checkbox>
          <ion-checkbox ng-model="generos.comediaromantica">Comédia romântica</ion-checkbox>
          <ion-checkbox ng-model="generos.comediadramatica">Comédia dramática</ion-checkbox>
          <ion-checkbox ng-model="generos.comediadeacao">Comédia de ação</ion-checkbox>
          <ion-checkbox ng-model="generos.danca">Dança</ion-checkbox>
          <ion-checkbox ng-model="generos.documentarios">Documentários</ion-checkbox>
          <ion-checkbox ng-model="generos.drama">Drama</ion-checkbox>
          <ion-checkbox ng-model="generos.espionagem">Espionagem</ion-checkbox>
          <ion-checkbox ng-model="generos.fantasia">Fantasia</ion-checkbox>
          <ion-checkbox ng-model="generos.faroeste">Faroeste</ion-checkbox>
          <ion-checkbox ng-model="generos.ficcaocientifica">Ficção científica</ion-checkbox>
          <ion-checkbox ng-model="generos.fuerra">Guerra</ion-checkbox>
          <ion-checkbox ng-model="generos.musical">Musical</ion-checkbox>
          <ion-checkbox ng-model="generos.policial">Policial</ion-checkbox>
          <ion-checkbox ng-model="generos.suspense">Suspense</ion-checkbox>
          <ion-checkbox ng-model="generos.terror">Terror</ion-checkbox>
 </ion-list>
     </label>
      <div class="padding">
            <button class="button button-block button-assertive"   ng-click="salvarPerfil(usuario, sexo, generos)">
               Finalizar
            </button>
    </div>


 </div>