<ion-view view-title="OQUEVER">
    <ion-content>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>
        <div class="tabs inicio-tab">
            <a class="tab-item">
            Series
            </a>
            <a class="tab-item">
            Filmes
            </a>
        </div>
    </ion-content>
</ion-view>