
ion-content{
	background-color:black;
}


.email {
        color: white;
}
.senha {
        color: white;
}
.generos {
        color: white;
}
.inicio-tab {
  margin-top: 100px; 
}
.email {
      
}
.img {
      background-color:black;

}
.flot{
      float: left;  
}
.log {
       text-align: center;
       font-size: 20px;

}
.like {
      color:red;

       
}
.esp {
      margin-left: 15px;   
}
.tamanho {
    width: 100%;
    
    }
.perfil {
      text-align: center;
}
img.dim:first-child {
         max-width: 60px;
       max-height: 60px;
}
.centro {
       text-align: center;
}
.distancia {
      margin-left: 15px;   
}
h2.distancia {
      margin-left: 15px;   
}